{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Ajouter un num&eacute;ro de t&eacute;l&eacute;phone</h2>
    </div>
    <form class="form-horizontal" action="{{ path('pablo_telephone_create', {'id': telephone.personne.id}) }}" method="post" enctype="{{ form_enctype(form) }}">
        <div class="control-group {{ (form_errors(form.numero)) ? 'error' }}">
            <label class="control-label">{{ form_label(form.numero) }}</label>
            <div class="controls">
                {{ form_widget(form.numero) }}
                <span class="help-inline">{{ form_errors(form.numero) }}</span>
            </div>
        </div>
        <div class="control-group {{ (form_errors(form.mobile)) ? 'error' }}">
            <label class="control-label">{{ form_label(form.mobile) }}</label>
            <div class="controls">
                {{ form_widget(form.mobile) }}
                <span class="help-inline">{{ form_errors(form.mobile) }}</span>
            </div>
        </div>
        <div class="control-group {{ (form_errors(form.info)) ? 'error' }}">
            <label class="control-label">{{ form_label(form.info) }}</label>
            <div class="controls">
                {{ form_widget(form.info) }}
                <span class="help-inline">{{ form_errors(form.info) }}</span>
                <span class="help-block">Ex.: "parents", "bureau" etc - 24 caract&egrave;res max.</span>
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="valider">
            <a class="btn" href="{{ url }}">annuler</a>
        </div>
    </form>
{% endblock content %}