<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> utilisateur
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if person.user %}
            <li><a href="{{ path('pablo_user_edit', {'id': person.id }) }}">&eacute;diter le compte</a></li>
            <li><a href="{{ path('pablo_user_enable', {'id': person.id }) }}">{{ (person.user.enabled) ? 'd&eacute;sactiver' : 'activer' }}&nbsp;le compte</a></li>
            <li class="divider"></li>
            <li><a class="danger" href="{{ path('pablo_user_delete', {'id': person.id }) }}">supprimer le compte</a></li>
        {% else %}
            <li><a href="{{ path('pablo_user_add', {'id': person.id }) }}">cr&eacute;er un compte</a></li>
        {% endif %}
    </ul>
</div>