<div class="span12">
    <form class="form-inline" action="{{ path('pablo_teacher_search') }}" method="post">
        {{ form_widget(form.lastName) }}
        {{ form_widget(form.firstName) }}
        {{ form_widget(form.dateOfBirth) }}
        {{ form_rest(form) }}
        <button class="btn pull-right" type="submit"><i class="icon-search"></i>&nbsp;chercher</button>
    </form>
</div>