{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>R&eacute;sultats de la recherche</h2>
    </div>
    <div class="row">
        <div class="span12">
            <form class="form-inline" action="{{ path('pablo_teacher_search') }}" method="post">
                <input class="span5" type="text" name="lastName" placeholder="Nom">
                <input class="span5" type="text" name="firstName" placeholder="Pr&eacute;nom">
                <button class="btn pull-right" type="submit"><i class="icon-search"></i>&nbsp;rechercher</button>
            </form>
        </div>
    </div>
    {% if (not teachers) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">D&eacute;sol&eacute;,</h4>
            <p>
                Aucun professeur trouv&eacute;.
            </p>
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td>{{ teacher.lastName|upper }}</td>
                    <td>{{ teacher.firstName|title }}</td>
                    <td>{{ (teacher.nationality) ? teacher.nationality.code }}</td>
                    <td>{{ teacher.sex }}</td>
                    <td>{{ (teacher.dateOfBirth) ? teacher.dateOfBirth|date('d/m/Y') }}</td>
                    <td>{{ teacher.placeOfBirth }}</td>
                    <td><a class="btn btn-mini" href="{{ path('pablo_teacher_show', {'id': teacher.id}) }}"><i class="icon-file"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}