{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
   <div class="page-header">
       <h2>Fiche Professeur</h2>
   </div>
    <div class="row">
        <div class="span6">
            <div class="well well-small">
                <h4>{{ person.firstname|title ~ ' ' ~ person.lastname|upper }}</h4>
                <p>
                    Nationalit&eacute;&nbsp;&colon;&nbsp;<strong>{{ (person.nationality) ? person.nationality.name }}</strong><br>
                    Sexe&nbsp;&colon;&nbsp;<strong>{{ (person.sex =='F') ? 'Féminin' : 'Masculin' }}</strong><br>
                    Date de naissance&nbsp;&colon;&nbsp;<strong>{{ (person.dateofbirth) ? person.dateofbirth|date('d/m/Y') }}</strong><br>
                    Lieu de naissance&nbsp;&colon;&nbsp;<strong>{{ person.placeofbirth }}</strong><br>
                    Matricule : <strong>{{ person.matricule }}</strong>
                </p>
                {% if (person.user) %}
                    <p>
                        Nom&nbsp;&colon;&nbsp;<strong>{{ person.user.username|lower }}</strong><br>
                        Groupe{{ (person.user.groups|length > 1) ? 's' }}&nbsp;&colon;&nbsp;
                        <strong>{% for group in person.user.groups %}{{ (not loop.last) ? group.name|lower ~ ', ' : group.name|lower }}{% endfor %}</strong><br>
                        Activ&eacute;&nbsp;&colon;&nbsp;<strong>{{ (person.user.enabled) ? 'oui' : 'non' }}</strong>
                    </p>
                {% endif %}
                <div class="text-right">
                    <a class="btn btn-mini" href="{{ path('pablo_teacher_edit', {'id': person.id}) }}"><i class="icon-pencil"></i></a>
                </div>
            </div>
        </div>
        <div class="span6">
            {% include('PabloPeopleBundle:Teacher:_buttons.html.twig') %}
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert {{ (message.type) ? 'alert-' ~ message.type }}" style="margin-top: 20px;">
                    {{ message.content }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li><a href="#addresses" data-toggle="tab">Adresses</a></li>
                <li><a href="#phones" data-toggle="tab">T&eacute;l&eacute;phones</a></li>
                <li><a href="#emails" data-toggle="tab">Emails</a></li>
                <li><a href="#attributions" data-toggle="tab">Attributions</a></li>
                <li><a href="#comments" data-toggle="tab">Commentaires&nbsp;<span class="badge badge-info">{{ (person.comments|length > 0) ? person.comments|length}}</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="addresses">
                    <div class="row">
                        {% include('PabloPeopleBundle:Address:_addresses.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="phones">
                    <div class="row">
                        {% include('PabloPeopleBundle:Phone:_phones.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="emails">
                    <div class="row">
                        {% include('PabloPeopleBundle:Email:_emails.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="attributions">
                    <div class="row">
                        {% include('PabloPeopleBundle:Teacher:_attributions.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="comments">
                    <div class="row">
                        {% include('PabloPeopleBundle:Comment:_comments.html.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('PabloPeopleBundle::_modal.html.twig') %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            if ($(location).attr('hash')) {
                $('.nav-tabs a[href="' + $(location).attr('hash') + '"]').tab('show');
            } else {
                $('.nav-tabs a[href="#addresses"]').tab('show');
            }

            $('a.danger, a.btn-danger').click(function(event) {
                event.preventDefault();

                $('.modal').modal('show');

                url = $(this).attr('href');
                $('div.modal-footer button.btn-primary').click(function() {
                    $(location).attr('href', url);
                })
            });
        })
    </script>
{% endblock javascripts %}