<div class="span6">
    <h4>T&eacute;l&eacute;phones</h4>
    {% if (person.phoneNumbers|length == 0) %}
    <div class="alert alert-info">
        <h4 class="alert-heading">Aucun résulat</h4>
        <p>
            Il n&apos;y a actuellement aucune num&eacute;ro enregistr&eacute;.
        </p>
    </div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Num&eacute;ro</th>
                <th>Info</th>
                <th>GSM</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for phone in person.phoneNumbers %}
                <tr>
                    <td>{{ phone.number }}</td>
                    <td>{{ phone.info }}</td>
                    <td>{{ (phone.isMobile) ? '<i class="icon-ok"></i>' }}</td>
                    <td style="text-align: right">
                        <a class="btn btn-mini" href="{{ path('pablo_phone_edit', {'id' : phone.id}) }}"><i class="icon-pencil"></i></a>
                        <a class="btn btn-mini btn-danger" href="{{ path('pablo_phone_delete', {'id': phone.id}) }}"><i class="icon-white icon-remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a class="btn" href="{{ path('pablo_phone_add', {'id': person.id}) }}">ajouter un num&eacute;ro</a>
</div>