<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ path('pablo_user_welcome') }}">Accueil</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ path('pablo_personne_list') }}">&Eacute;lèves</a></li>
                    <li><a href="{{ path('pablo_employe_list') }}">Professeurs</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-white icon-user"></i> {{ app.user.employe.prenom|title ~ ' ' ~ app.user.employe.nom|upper }}
                            <b class="caret"></b>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('pablo_profile_edit') }}">&eacute;diter mon profil</a></li>
                                {% if (is_granted('ROLE_ALLOWED_TO_SWITCH')) %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('pablo_user_welcome',{'_switch_user': 'admin'}) }}">usurper "admin"</a><li>
                                    <li><a href="{{ path('pablo_user_welcome',{'_switch_user': 'user'}) }}">usurper "user"</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                {% if (is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('pablo_user_welcome', {'_switch_user': '_exit'}) }}">...redevenir root</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('pablo_user_logout') }}">se d&eacute;connecter</a></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!--/.navbar -->