{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Liste des &eacute;l&egrave;ves</h2>
    </div>
    {% if (not students) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">Aucun r&eacute;sultat</h4>
            <p>
                Aucun &eacute;l&egrave;ve inscrit pour cette ann&eacute;e scolaire.
            </p>
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lastname|upper }}</td>
                <td>{{ student.firstname|title }}</td>
                <td>{{ (student.nationality) ? student.nationality.code }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ (student.dateofbirth) ? student.dateofbirth|date('d/m/Y') }}</td>
                <td>{{ student.placeofbirth }}</td>
                <td><a class="btn btn-mini" href="{{ path('pablo_student_show', {'id': student.id}) }}"><i class="icon-file"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}