{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Liste des &eacute;l&egrave;ves</h2>
    </div>
    <div class="row">
        {% include('PabloPeopleBundle:Student:_search.html.twig') %}
    </div>
    {% if (not students) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">D&eacute;sol&eacute;</h4>
            <p>
                Aucun &eacute;l&egrave;ve trouv&eacute;.
            </p>
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lastname|upper }}</td>
                <td>{{ student.firstname|title }}</td>
                <td>{{ (student.nationality) ? student.nationality.code }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ (student.dateofbirth) ? student.dateofbirth|date('d/m/Y') }}</td>
                <td>{{ student.placeofbirth }}</td>
                <td><a class="btn btn-mini" href="{{ path('pablo_student_show', {'id': student.id}) }}"><i class="icon-file"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous {{ (page == 1) ? 'disabled' }}">
                <a href="{{ (page == 1) ? '#' : path('pablo_student_list', {'page': page - 1}) }}">&larr;&nbsp;Pr&eacute;c&eacute;dents</a>
            </li>
            <li class="next {{ (page == pages) ? 'disabled' }}">
                <a href="{{ (page == pages) ? '#' : path('pablo_student_list', {'page': page + 1}) }}">Suivants&nbsp;&rarr;</a>
            </li>
        </ul>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-selector').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-90:-6",
                minDate: "-90y",
                maxDate: new Date(new Date().getFullYear() - 6, 11, 31)
            });
        })
    </script>
{% endblock javascripts %}