{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Liste des &eacute;l&egrave;ves</h2>
    </div>
    <div class="row">
        <div class="span12">
            <form class="form-inline" action="{{ path('pablo_student_search') }}" method="post">
                <input class="span5" type="text" name="lastName" placeholder="Nom">
                <input class="span5" type="text" name="firstName" placeholder="Pr&eacute;nom">
                <button class="btn pull-right" type="submit"><i class="icon-search"></i>&nbsp;rechercher</button>
            </form>
        </div>
    </div>
    {% if (not students) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">D&eacute;sol&eacute;</h4>
            <p>
                Aucun &eacute;l&egrave;ve trouv&eacute;.
            </p>
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.lastname|upper }}</td>
                    <td>{{ student.firstname|title }}</td>
                    <td>{{ (student.nationality) ? student.nationality.code }}</td>
                    <td>{{ student.sex }}</td>
                    <td>{{ (student.dateofbirth) ? student.dateofbirth|date('d/m/Y') }}</td>
                    <td>{{ student.placeofbirth }}</td>
                    <td style="text-align: right;">
                    <td><a class="btn btn-mini" href="{{ path('pablo_student_show', {'id': student.id}) }}"><i class="icon-file"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}