{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Modifier une adresse e-mail</h2>
    </div>
    <form class="form-horizontal" action="{{ path('pablo_email_update', {'id': email.id}) }}" method="post" enctype="{{ form_enctype(form) }}">
        <div class="control-group {{ (form_errors(form.adresse)) ? 'error' }}">
            <label class="control-label">{{ form_label(form.adresse) }}</label>
            <div class="controls">
                {{ form_widget(form.adresse) }}
                <span class="help-inline">{{ form_errors(form.adresse) }}</span>
            </div>
        </div>
        <div class="control-group {{ (form_errors(form.info)) ? 'error' }}">
            <label class="control-label">{{ form_label(form.info) }}</label>
            <div class="controls">
                {{ form_widget(form.info) }}
                <span class="help-inline">{{ form_errors(form.info) }}</span>
                <span class="help-block">Ex.: "parents", "bureau" etc - 24 caract&egrave;res max.</span>
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="valider">
            <a class="btn" href="{{ url }}">annuler</a>
        </div>
    </form>
{% endblock %}