<div class="span6">
    <h4>Adresses</h4>
    {% if (person.addresses|length == 0) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">Aucun résulat</h4>
            <p>
                Il n&apos;y a actuellement aucune adresse enregistr&eacute;e.
            </p>
        </div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Rue</th>
                <th>Localit&eacute;</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for address in person.addresses %}
                <tr>
                    <td>{{ address.street ~ ', ' ~ address.number }}{{ (address.flat) ? '/' ~ address.flat }}</td>
                    <td>{{ address.city }}</td>
                    <td style="text-align: right">
                        <a class="btn btn-mini" href="{{ path('pablo_address_edit', {'id' : address.id}) }}"><i class="icon-pencil"></i></a>
                        <a class="btn btn-mini btn-danger" href="{{ path('pablo_address_delete', {'id': address.id}) }}"><i class="icon-white icon-remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a class="btn" href="{{ path('pablo_address_add', {'id': person.id}) }}">ajouter une adresse</a>
</div>