{% extends('PabloOrganisationBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Ajouter une attribution</h2>
    </div>
    <form class="form-horizontal" action="{{ path('pablo_attribution_create', {'id': attribution.teacher.id}) }}" method="post" enctype="{{ form_enctype(form) }}">
        <div class="row">
            <div class="span6">
                <div class="control-group {{ (form_errors(form.year) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.year) }}</label>
                    <div class="controls">
                        {{ form_widget(form.year) }}
                        <span class="help-inline">{{ form_errors(form.year) }}</span>
                    </div>
                </div>
                <div class="control-group {{ (form_errors(form.periods) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.periods) }}</label>
                    <div class="controls">
                        {{ form_widget(form.periods) }}
                        <span class="help-inline">{{ form_errors(form.periods) }}</span>
                    </div>
                </div>
                <div class="control-group {{ (form_errors(form.startDate) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.startDate) }}</label>
                    <div class="controls">
                        {{ form_widget(form.startDate) }}
                        <span class="help-inline">{{ form_errors(form.startDate) }}</span>
                    </div>
                </div>
                <div class="control-group {{ (form_errors(form.endDate) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.endDate) }}</label>
                    <div class="controls">
                        {{ form_widget(form.endDate) }}
                        <span class="help-inline">{{ form_errors(form.endDate) }}</span>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">{{ form_label(form.jobFunction) }}</label>
                    <div class="controls">
                        {{ form_widget(form.jobFunction) }}
                        {#<span class="help-inline">aide</span>#}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ form_label(form.status) }}</label>
                    <div class="controls">
                        {{ form_widget(form.status) }}
                        {#<span class="help-inline">aide</span>#}
                    </div>
                </div>
                <div class="control-group {{ (form_errors(form.course) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.course) }}</label>
                    <div class="controls">
                        {{ form_widget(form.course) }}
                        <span class="help-inline">{{ form_errors(form.course) }}</span>
                    </div>
                </div>
                <div class="control-group {{ (form_errors(form.specialty) ? 'error') }}">
                    <label class="control-label">{{ form_label(form.specialty) }}</label>
                    <div class="controls">
                        {{ form_widget(form.specialty) }}
                        <span class="help-inline">{{ form_errors(form.specialty) }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                {{ form_rest(form) }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="valider">
                    <a class="btn" href="{{ path('pablo_teacher_show', {'id': attribution.teacher.id}) }}#attributions">annuler</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {#var specialties = [];#}

            {#$.getJSON("{{ path('pablo_course_json') }}", function(data) {#}
                {#$('#pablo_organisationbundle_attributiontype_specialty').html(''); /*.find("option").remove().end()*/;#}
                {#$.each(data, function(key, val) {#}
                    {#specialties.push(val)#}
                {#});#}
            {#});#}

            {#$('#pablo_organisationbundle_attributiontype_course').change(function() {#}
                {#var idparent = $(this).val();#}
                {#$.each(specialties, function(key, val) {#}
                    {#if (val.parent == idparent) {#}
                        {#$('#pablo_organisationbundle_attributiontype_specialty').append("<option value=\"" + val.id + "\">" + val.title + "</option>")#}
                    {#}#}
                {#})#}
            {#});#}
            $('#pablo_organisationbundle_attributiontype_startDate').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-2:+2",
                onClose: function(selectedDate) {
                    $('#pablo_organisationbundle_attributiontype_endDate').datepicker("option", "minDate", selectedDate);
                }
            });
            $('#pablo_organisationbundle_attributiontype_endDate').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-2:+2",
                onClose: function(selectedDate) {
                    $('#pablo_organisationbundle_attributiontype_startDate').datepicker("option", "maxDate", selectedDate);
                }
            });
        })
    </script>
{% endblock javascripts %}