{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Liste des professeurs</h2>
    </div>
    <div class="row">
        {% include('PabloPeopleBundle:Employe:_search.html.twig') %}
    </div>
    {% if (not employes) %}
        <div class="alert alert-info">
            <h4 class="alert-heading">D&eacute;sol&eacute;,</h4>
            <p>
                Aucun professeur trouv&eacute;.
            </p>
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Nationalit&eacute;</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.id }}</td>
                    <td>{{ employe.nom|upper }}</td>
                    <td>{{ employe.prenom|title }}</td>
                    <td>{{ (employe.pays) ? employe.pays.code }}</td>
                    <td>{{ employe.sexe }}</td>
                    <td>{{ (employe.datenaissance) ? employe.datenaissance|date('d/m/Y') }}</td>
                    <td>{{ employe.lieunaissance }}</td>
                    <td><a class="btn btn-mini" href="{{ path('pablo_employe_show', {'id': employe.id}) }}"><i class="icon-file"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-selector').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-90:-6",
                minDate: "-90y",
                maxDate: new Date(new Date().getFullYear() - 6, 11, 31)
            });
        })
    </script>
{% endblock javascripts %}