{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
   <div class="page-header">
       <h2>Professeur</h2>
   </div>
    <div class="row">
        <div class="span6">
            <div class="well well-small">
                <dl class="dl-horizontal">
                    <dt>Nom</dt>
                    <dd>
                        {{ personne.prenom|title ~ ' ' ~ personne.nom|upper }}
                        <a class="btn btn-mini pull-right" href="{{ path('pablo_employe_edit', {'id': personne.id}) }}"><i class="icon-pencil"></i></a>
                    </dd>
                    <dt>Nationalit&eacute;</dt>
                    <dd>{{ (personne.pays) ? personne.pays.nom }}</dd>
                    <dt>Sexe</dt>
                    <dd>{{ personne.sexe }}</dd>
                    <dt>Date de naissance</dt>
                    <dd>{{ (personne.datenaissance) ? personne.datenaissance|date('d/m/Y') }}</dd>
                    <dt>Lieu de naissance</dt>
                    <dd>{{ personne.lieunaissance }}</dd>
                    <dt>Matricule</dt>
                    <dd>{{ personne.matricule }}</dd>
                </dl>
                {% if (personne.user) %}
                    <dl class="dl-horizontal">
                        <dt>Utilisateur</dt>
                        <dd>{{ personne.user.username|lower }}</dd>
                        <dt>Groupe{{ (personne.user.groups|length > 1) ? 's' }}</dt>
                        <dd>{% for group in personne.user.groups %}{{ (not loop.last) ? group.name|lower ~ ', ' : group.name|lower }}{% endfor %}</dd>
                    </dl>
                {% endif %}
            </div>
        </div>
        <div class="span6">
            {% include('PabloPeopleBundle:Employe:_toolbar.html.twig') %}
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert {{ (message.type) ? 'alert-' ~ message.type }}">
                    <strong>{{ (message.type == 'error') ? 'Oups !' : 'OK !' }}</strong>&nbsp;{{ message.content }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li><a href="#adresses" data-toggle="tab">Adresses</a></li>
                <li><a href="#telephones" data-toggle="tab">T&eacute;l&eacute;phones</a></li>
                <li><a href="#emails" data-toggle="tab">Emails</a></li>
                <li><a href="#attributions" data-toggle="tab">Attributions</a></li>
                <li><a href="#commentaires" data-toggle="tab">Commentaires&nbsp;<span class="badge badge-info">{{ (personne.commentaires|length > 0) ? personne.commentaires|length}}</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="adresses">
                    <div class="row">
                        {% include('PabloPeopleBundle:Adresse:_adresses.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="telephones">
                    <div class="row">
                        {% include('PabloPeopleBundle:Telephone:_telephones.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="emails">
                    <div class="row">
                        {% include('PabloPeopleBundle:Email:_emails.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="attributions">
                    <div class="row">
                        {% include('PabloPeopleBundle:Employe:_attributions.html.twig') %}
                    </div>
                </div>
                <div class="tab-pane" id="commentaires">
                    <div class="row">
                        {% include('PabloPeopleBundle:Commentaire:_commentaires.html.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('PabloPeopleBundle::_modal.html.twig') %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            onglets('#adresses');
            confirmation($('a[class*="danger"]'));
        })
    </script>
{% endblock javascripts %}